*{
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}
body{
    background-color: rgb(34, 36, 38);
    font-family: 'Poppins', sans-serif;
    color: white;
    transition: .4s;
}
@keyframes preloader {
    30% {line-height: 80px;}
    50% {line-height: 200px;}
    90% {line-height: 400px;}
    100% {line-height: 80px;}
}
@keyframes line {
    0% {box-shadow: #bed6f595 0px 22px 70px 2px;}
    100% {box-shadow: #bed6f595 0px 5px 15px 2px;}
}
.preloader{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 80px;
    line-height: 80px;
    visibility: visible;
    background: rgb(18, 18, 18);
    font-family: Arial Black;
    animation-name: preloader;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
.preloader_hidden{
    opacity: 0;
    transition: ease 1s;
    visibility: hidden;
}
@keyframes span{
    20% {color: #779ac6;}
    60% {color: white;}
    90% {color: #779ac6;}
}
.logo{
    display: flex;
    justify-content: space-between;
}
.logo h1 span{
    color: #779ac6;
    transition: ease 5s;
    animation: span 7s infinite;
    border-radius: 10px;
}
h1{
    transition: ease 2s;
    width: 20px;
    line-height: 35px;
    margin: 15px;
    -webkit-text-stroke: black 1px;
}
.switch{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 10px;
    border-radius: 34px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.switch input{
    opacity: 0;
    width: 0;
    height: 0;
}
.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(119, 154, 198);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}  
.slider:before{
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
    background-color: rgb(34, 36, 38);
}
input:checked + .slider{
    background-color: rgb(34, 36, 38);
}
input:checked + .slider:before{
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background-color: rgb(119, 154, 198);
}
.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(79, 77, 104);
    border-radius: 20px;
    width: 400px;
    height: 250px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: ease 3s;
    margin: 30px 15px 30px 15px;
}
img{
    width: 60%;
    height: 50%;
    transition: ease 1s;
    border-radius: 5px;
}
.card:hover{
    box-shadow: #4b617d 0px 15px 80px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: ease 1s;
}
.card:hover img{
    transform: scale(1.2);
    transition: ease 1s;
}
.card:hover a{
    opacity: 1;
    transition: ease 1.5s;
}
.card a{
    opacity: 0;
    color: white;
    text-decoration: none; 
    margin-top: 10px;
    font-size: 23px;
    background-color: #779ac6;
    border-radius: 10px;
    transition: ease 1.5s;
    width: 99px;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px #779ac6;
}
.footer a{
    color: white;
    text-decoration: none;
    margin: 20px 0px 0px 0px;
    font-size: 23px;
    background-color: #8b5abf;
    border-radius: 10px;
    transition: ease 1s;
    width: 130px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px #779ac6;
}
a:hover{
    background-color: #4f4d68;
    transition: ease 0.2s;
}
.line{
    background-color: #ffffff;
    width: 100%;
    height: 3px;
    margin: 20px;
    box-shadow: #bed6f595 0px 22px 70px 2px;
    animation-name: line;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.line-mobile{
    display: none;
    background-color: #ffffff;
    width: 100%;
    height: 3px;
    margin: 30px;
    box-shadow: #bed6f595 0px 22px 70px 5px;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 100px 0px 50px 0px;
}
.footer div{
    background: url(img/meme-cat.gif) center no-repeat;
    background-size: cover;
    width: 1px;
    height: 1px;
    margin-top: 10px;
    transition: ease 2s;
}
.footer div:hover{
    transform: scale(1500);
    transition: ease 15s;
    margin-bottom: 700px;
}
@media only screen and (min-width: 200px) and (max-width: 500px){
    .line{
        display: none;
    }
    .line-mobile{
        display: block;
    }
    .card{
        width: 80%;
    }
}